body
{
	width: 900px;
	margin: auto;
	margin-top: 100px;
	background: #142233;	
	color: white;
}

#main
{
	min-height: 320px;
	font-size: 72px;
}

#buttons button
{
	width:24%;
	background: #081020;
	border: none;
	padding: 10px 0px;	
}

#buttons button img
{
	height: 48px;
	width: 48px;
}

#buttons button:hover
{
	background: #101828;
}