body
{
	width: 900px;
	margin: auto;
	margin-top: 100px;
	background: #142233;	
	color: white;
}

#main
{
	min-height: 336px;
	font-size: 72px;
	margin-bottom: 20px;
	white-space: pre;
}

img.emoji
{
	width:72px;
	height:72px;
	font-size:0;
	vertical-align: -16px;
}

#buttons button
{
	width:24%;
	background: #081020;
	border: none;
	padding: 10px 0px;	
}

#buttons button img
{
	height: 48px;
	width: 48px;
}

#buttons button:hover
{
	background: #101828;
}

#pagenumber
{
	font-size: 28pt;
}